/******** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.fa-solid.fa-magnifying-glass{
    color: white;
}

.fa-solid.fa-location-dot{
    color: black;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h2, h1{
    font-weight: 800;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/* ********** Menu ******************/

nav{
    display: flex;
    justify-content: space-between;
    
}

nav .navigation{
    display: flex;
    width: 300px;
    justify-content: space-around;
    list-style: none;
}
nav a{
    padding-top: 20px;
    border-top:2px solid transparent;
    
}
nav a:hover{
    color:var(--main-color) ;
    border-top:2px solid;
    
}

nav img{
    width: 65px;
    height: 22px;
    margin-top: 30px;
}

/******* Search ***************/

.search form{

width: 377px;
height: 50px;
display: grid;
grid-template-columns:1fr 1fr 1fr;
border: 1px solid #F2F2F2;
border-radius: 15px;

}
.search{
    padding:30px 0 20px;
}
.searchText h1{
    margin-top: 30px;
    margin-bottom: 5px;
}
.searchText p{
    margin-bottom: 35px;
}
.searchText h2{
    font-weight: 600;
    
}
.search form span{
    background:#F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 55px;
    height: 55px;
    
    
}
.search form span i{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.search input{
    border: none;
    text-align: center;
    font-weight: 600;
}
.search input::placeholder{
    color: black;
    opacity: 1;
    font-size: 16px;
}
.search button{
    background: #0065FC;
    border-radius: 0 15px 15px 0;
    border: none;
    width: 136px;
    color: white;
    font-weight: 900;
    font-size: 16px;
}

.search button span{
    color: rgb(255, 255, 255);
    font-weight: 500;
    background: #0065FC;
    
}

/* ******** Filter****************/

.filter{
    padding-top: 30px;
}
.filter button{
    border-radius: 25px;
    height: 50px;
    color: rgb(0, 0, 0);
    background:white;
    border: 2px solid rgba(128, 128, 128, 0.183);
    text-align: center;
    
    
}
.filter .filterButton .containerButton button{
   width: 160px;
   padding: 0 5px;
}


.filter button:hover{
    background: var(--filter-bg-color);
}

.filter button i{
    padding: 0 8px;
    
}
.filter span{
    font-weight: bold;
    padding-right: 10px;
}

.fa-magnifying-glass{
    display: none;
}

.info{
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.info i{
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.info p{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 10px;
}




/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements h3{
    font-weight: 900;
    padding-top: 15px;
}
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}
.hebergements-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.hebergements-cards .card {
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.hebergements-cards .card-content {
    width: 90%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Hebergements And Populairy ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding:30px;
    box-sizing: border-box;
}
.hebergements{
    background-color: var(--main-bg-color);
}

/****** Populairy ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********* Activity ***********/
.activityTitle{
    padding: 50px 0 20px 40px ;
    
}

.activity img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 382px; 
    object-fit: cover;
}

.activityContainer{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    padding:0 30px 50px;
    
}

.activityCards{
    background: rgb(255, 255, 255);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    margin: 15px;  
    
}

.activityCards p{
    padding:15px 0 20px 20px;
    font-weight: 700;
}

/************* Footer *********/
footer{
    background:rgb(240,242,246) ;
}
footer .footerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
}

footer .footerContainer span{
    font-weight: 900;
    display: block;
    padding: 10px 0;
}

footer a{
    display: block;
    padding:7px 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity img{
        height: 200px;
        width: 150px;
        
    }
    .activityCards{
        height: 272px;
        width: 150px;
    }
    .activityContainer{
        padding: 10px;
        margin: 0 auto;
    }

    
}

.filter button{
    padding: 0;
    width: 150px;
    margin: 0;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    .main-container{
        padding: 0;
    }

    /*********** Header Navigation *******/
    nav{
        flex-direction: column;
    }
    nav img{
        margin:15px auto 0;
    }

    nav .navigation{
        width: 100%;
        padding-top: 20px;
    }

    nav a{
        padding: 10px 30px;
        width: 100%;
        text-align: center;
    }
    nav a{
        border-bottom:2px solid var(--main-bg-color);
    }

    nav a:hover{
        color:var(--main-color) ;
        border-bottom:2px solid;
        border-top: none; 
    }

/* ******** Form searchBar *********** */
.search{
    padding: 0 20px;
}
.search form{
    grid-template-columns: 20% 65% 15%;
    width: 270px;
}
.search form button{
    border-radius: 15px;
    color: var(--main-color);  
    box-shadow: 5px 5px 29px 5px rgba(147, 138, 138, 0.58);
    width: 55px;
}

.search button span{
    display: none;
}
.fa-magnifying-glass{
    display:block;
}
.searchText h1{
    font-size: 20px;
}

/********** Filter **********/


.filter button{
    width: 150px;
    height: 50px;
    margin: 5px;
    align-items: center;
    font-size: 13px;  
}


.filter .filterButton .containerButton button{
    width: 125px;
}

.filterButton{
    width: 100%;
    margin: 0 10px;
}

.filter span{
    display: block;
    padding-bottom: 20px; 
    padding-left: 10px;  
}


/********** hebergements and populary *******/
.hebergements-and-populaires{
    flex-direction: column-reverse; 
}

section.populaires{
border-radius: 0px;
}

.populaires-cards{
flex-direction: column;
padding-bottom: 10px;
}
.populaires-cards a{
    width: 100%;
}
.hebergements-cards {
    grid-template-columns: 1fr;
    
}
.hebergements{
    background:white;
}

.activityContainer{
    grid-template-columns: 1fr;
}
.activityTitle{
    padding: 40px;
}

.activityCards{
    width: 270px;
    height: 200px;
    margin: 20px auto;
    
}
.activityCards img{
    width: 270px;
    height: 140px;
}



/*********** Footer ***************/
footer .footerContainer{
    grid-template-columns: 1fr;
    gap: 30px;
}
}